{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Profile page{% endblock %}
{% block content%}
<style>
    .profile-container {
        display: flex;
        flex-direction: column;
       
    }
    #update{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border:1px solid black;
        background-color: aqua;

    }
</style>
<div style="width: 550px;margin:13px;margin-left:36em;margin-top:40px;">
        
        {% for message in messages %}
         {% if messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endif %}
        {% endfor %}
        </div>
         <div class ="container bg-light p-3" style="margin: 10px;width:550px;height:300px;margin-left:36em;">
  
           
           <h1 class="bg-info ">PROFILE INFORMATION</h1>
             
           {% if not user.is_superuser %} 
           <p style="margin-left:420px;margin-top:10px;" class="btn  bg-warning btn-outline-success " id="update"><a href="{% url 'profile'%}">Update</a></p>
           {% endif %}
           <div class="profile-container">    
                  
            <h5 class="pt-2">Username: <strong style="margin-left:40px;">{{user.username}}</strong></h5>
            <h5 class="pt-1">Email:<strong style="margin-left:95px;">{{user.email}}</strong></h5>
            {% if not user.is_superuser %} 
            <h5 class="pt-1">PhoneNumber:<strong style="margin-left:5px;">{{user.phone_number}}</strong></h5>
            <h5>location:<strong style="margin-left:70px;;">{{user.profile.location}}</strong></h5>
            {% if user.profile.image %}
                 <img src="{{user.profile.image.url}}"  alt="Profile picture of {{ user.username }}"  width="100px" height="100px" class="d-flex" style="margin-left: 400px;margin-top:-25%;border-radius:30%;" >
            {% else %}
                <img src="{% static  'images/default.jpg' %}"  class="img-fluid rounded-circle">
            {% endif %}
                
            </div>
              <script>
          
             $(document).ready(function () {
        // Hides the message after 5 seconds (5000ms)
            $('.alert').fadeOut(10000);
        });
        document.getElementById("update").addEventListener('click',function(){
            document.style.display('updated successfully')
        })
        </script>
{% endif %}
 {% endblock %}    