{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Client List{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div style="margin-left:16em; margin-top:5em; ">
        <h1>Client List</h1>
        <table class="table  table-striped table-hover table-bordered bg-light text-center p-3 m-3 ">
          
            <thead class="p-3 m-3"    style="color: blue;">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Site Location</th>
                    <th>Site Name</th>
                    <th>Project Start Date</th>
                    <th>Project End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients.object_list %}
                {% if not client.is_superuser %}

                <tr>
                    <td>{{ client.username }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.site_location }}</td>
                    <td>{{ client.site_name }}</td>
                    <td>{{ client.project_start_date }}</td>
                    <td>{{ client.project_end_date }}</td>
                    <td style="width: 300px;">
                        <a href="{% url 'project_list_by_client' client.id %}" class="btn btn-success btn-sm p-2">View Projects</a>
                        <a href="{% url 'client_update' client.id %}" class="btn btn-warning btn-sm p-2">Update</a>
                     
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'register' %}" class="btn btn-primary fs-4">Add New Client</a>
        </div>
            </div>
    <nav aria-label="Page navigation example" style="margin-left:79em;margin-top:2em;">
        <p class="text-primary d-flex justify-content-left ">Page:{{clients.number}}/{{clients.paginator.num_pages}}</p>
        <ul class="pagination">
             {% if clients.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'client_list'%}?page={{clients.previous_page_number}}">Previous</a></li>
             {% endif %}
             {% for num_page in clients.paginator.page_range%}
                {% if clients.number == num_page  %}
                
                <li class="page-item active">
                    <a class="page-link" href="{% url 'client_list' %}?=page{{num_page}}">{{num_page}}</a>
                </li>
                {% endif %}
             {%endfor%}
             {% if clients.has_next %}
                 <li class="page-item"><a class="page-link" href="{% url 'client_list'%}?page={{clients.next_page_number}}">Next</a></li>
             {%endif%}
        </ul>
       
      </nav>
{% endblock %}
