{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Client List{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div style="margin-left:16em; margin-top:5em; ">
        <h1>Client List</h1>
        <table class="table  table-striped table-hover table-bordered bg-light text-center p-3 m-3 ">
          
            <thead class="p-3 m-3"    style="color: blue;">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Site Location</th>
                    <th>Site Name</th>
                    <th>Project Start Date</th>
                    <th>Project End Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.username }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.site_location }}</td>
                    <td>{{ client.site_name }}</td>
                    <td>{{ client.project_start_date }}</td>
                    <td>{{ client.project_end_date }}</td>
                    <td style="width: 300px;">
                        <a href="{% url 'project_list_by_client' client.id %}" class="btn btn-success btn-sm p-2">View Projects</a>
                        <a href="{% url 'client_update' client.id %}" class="btn btn-warning btn-sm p-2">Update</a>
                     
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'register' %}" class="btn btn-primary fs-4">Add New Client</a>
        </div>
            </div>
{% endblock %}


