{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Expense Details{% endblock %}
{% block content %}
<div class="table-responsive table table-bordered table-hover table-striped"style="margin-left:16em; margin-top:5em;width:1150px">
  <h1>Expense Details</h1>
  <table class="table table-striped">
    <thead>
      <tr>

        <th>Amount Spent</th>
        <th>Date</th>
        <th>Project</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td>{{ expense.amount_spent }}</td>
        <td>{{ expense.date }}</td>
        <td>{{ project.name }}</td>
        <td><a href="{% url 'expense_edit' project.id expense.id %}" class="btn btn-warning text-light p-2 ">Update</a>
          <a href="{% url 'expense_list' project.id %}"class="btn btn-primary mt-2 ">Back to list</a></td>
      </tr>
    </tbody>
  </table>
  </div>
  {% endblock %}
