{% extends 'projectsite/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}

<div class="table-responsive"style="margin-left:16em; margin-top:5em;width:1150px">
    <h1 class="mb-4">Stage Details: {{ stage.name }}</h1> <!-- Display the project name from the first stage object -->
<table class="table table-striped table-bordered">
    <tr>
        <td><strong>Project</strong></td>
        <td>{{ stage.project.name }}</td>
    </tr>
    <tr>
        <td><strong>Stage Type</strong></td>
        <td>{{ stage.get_stage_type_display }}</td>
    </tr>
    <tr>
        <td><strong>Progress</strong></td>
        <td>{{ stage.progress }}%</td>
    </tr>
    <tr>
        <td><strong>Status</strong></td>
        <td>{{ stage.get_completed_display }}</td>
    </tr>
    <tr>
        <td><strong>Due Date</strong></td>
        <td>{{ stage.due_date }}</td>
    </tr>
    <tr>
        <td><strong>Start Date</strong></td>
        <td>{{ stage.start_date }}</td>
    </tr>
    <tr>
        <td><strong>End Date</strong></td>
        <td>{{ stage.end_date|default:"N/A" }}</td>
    </tr>
    <tr>
        <td><strong>Description</strong></td>
        <td>{{ stage.name }}</td>
    </tr>
    <td><a href="{% url 'stage_edit' stage.id %}" class="btn btn-warning btn-sm ms-1">Update</a>
    <a href="{% url 'stage_delete' stage.id %}" class="btn btn-danger btn-sm ms-1">Delete</a>
    <a href="{% url 'expense_list' project.id %}" class="btn btn-success btn-sm ms-2">Expenses</a>
        
     </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'stage_add' project.id %}" class="btn btn-primary">Add New Stage</a>
</div>
{% endblock %}

  
        